// ---------------------------------------------------------------------------
//  ShittimLogon 发送端版本资源
// ---------------------------------------------------------------------------
#pragma code_page(65001)

#include <windows.h>

#define APP_VERSION_MAJOR 1
#define APP_VERSION_MINOR 0
#define APP_VERSION_PATCH 0
#define APP_VERSION_BUILD 0

#define APP_VERSION_COMMA \
    APP_VERSION_MAJOR, APP_VERSION_MINOR, APP_VERSION_PATCH, APP_VERSION_BUILD
#define APP_VERSION_STRING "1.0.0.0\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION APP_VERSION_COMMA
PRODUCTVERSION APP_VERSION_COMMA
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "ShittimLogon"
            VALUE "FileDescription", "ShittimLogon 发送端（通过原始 TCP 提供文件下载服务）"
            VALUE "FileVersion", APP_VERSION_STRING
            VALUE "InternalName", "ShittimLogonSender"
            VALUE "LegalCopyright", "Copyright (C) 2026 ShittimLogon"
            VALUE "OriginalFilename", "ShittimLogonSender.exe"
            VALUE "ProductName", "ShittimLogon Updater"
            VALUE "ProductVersion", APP_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
